<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map/mapbackicon/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/47.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/49.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/51.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/53.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/57.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/59.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/61.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/63.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/65.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/67.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,60},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/69.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/71.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,120},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/73.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,120},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/75.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,120},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/77.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,120},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/79.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,120},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/81.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,120},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>map/mapbackicon/83.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,120},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buildingBlock.png</string>
			<key>realTextureFileName</key>
			<string>buildingBlock.png</string>
			<key>size</key>
			<string>{1020,180}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>180</integer>
		</dict>
	</dict>
</plist>